@import '../../styles//vars.scss';


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    z-index: 1;
    padding-bottom: 2rem;
}

.list {
    z-index: 0;
    display: flex;
    flex-direction: row; 
    margin-top: -8rem;
    padding: 6.5rem 4rem 3rem 4rem;
    background-color: rgb(234, 237, 247);
    .card:last-child {
        width: 10rem;
    }
}

.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 13rem;
    margin: 2rem;
}
